.header .brand img {
    height: 30px;
    margin-left: 20px;
}

.navbar .brand {
    padding: 7px 0;
}

.sc {
    z-index:99999 !important;
}

p img {
    margin:0 20px 10px 0;
}

.color-panel .color-mode-icons {
    padding: 24px;
    right: 1px;
    top: 20px;
}

.color-mode {
    background: none repeat scroll 0 0 #3D3D3D;
    display: none;
    padding: 10px 0;
    position: absolute;
    right: 49px;
    top: 20px;
}

.controlPanel .plugins {
    display: none;
}

.sc-toggler {
    display:none;
}

.definitions, .controlPanel .new {
    max-height: 100%;
}