@{
	Content.PrependDefinition(re => 
	{
		re.Container("Metadata", e =>
		{
			e.Name().Title("Path Segment");
		});
	});

    var content = Content.Current.Item != null ?  Content.Current.Item.GetDetail("Text") as string : string.Empty;
    var img = Content.Display.Html.ViewData.Model.Image;
    
    if(!string.IsNullOrEmpty(img))
    {
        var imgTag = string.Format("<img align='left' src='/N2/Files/Resize.ashx?img={0}&w=350&h=450' />", img);  
        if(content.IndexOf("<p>") == 0)
        {
            content = content.Insert(3, imgTag);
        }
    }
}
@*@Content.Register.Title().Container("Content").Configure(e => e.CssClass = "entry-title").Display()*@

<div class="entry-content">
    @Html.Raw(content)
</div>