@{
    
    var page = N2.Content.Current.Page;
    var version = ViewBag.LatestDraftVersion;
    
    //string url = string.Empty;

    //if (item.VersionOf.HasValue)
    //{
    //    //url = Url.ToAbsolute(ManagementPaths.GetEditExistingItemUrl(page.VersionOf));
    //}
    //else
    //{
    //    var page = N2.Find.ClosestPage(item);
    //    var version = Engine.Resolve<N2.Edit.Versioning.DraftRepository>().FindDrafts(page).FirstOrDefault();
    //    if (version != null && version.Saved > page.Updated)
    //    {
    //        //DisplayThisHasNewerVersionInfo(version.Version.FindPartVersion(item));
    //        url = Url.ToAbsolute(ManagementPaths.GetEditExistingItemUrl(version.Version.FindPartVersion(page)));
    //    }
    //}
    
}
<div class="page-message">
    <a class="btn yellow big btn-block" href="#">Warning this is a draft, click to see current published version (version 2)<i class="m-icon-big-swapright m-icon-white"></i></a>
    <a class="btn green big btn-block publish-page" data-url="@Html.Raw("/languages" + @page.Url + "/")" data-version-index="@version" href="#">Click to publish this version (version 3)<i class="m-icon-big-swapright m-icon-white"></i></a>
    </div>