@model Dinamico.Models.ContentPart

@{ Content.Define(re =>
	   {
		   re.Title = "3 Columns";
		   re.IconUrl = "{IconsUrl}/text_columns.png";
           //re.CheckBox("Separator", "Show separator");
	   });
}

<div class="row-fluid">
    <div class="span12">
        <div class="span4">@{ Html.DroppableZone("Left").Render(); }</div>
        <div class="span4">@{ Html.DroppableZone("Center").Render(); }</div>
        <div class="span4">@{ Html.DroppableZone("Right").Render(); }</div>
    </div>
</div>
